<ion-view view-title="Categories">
  <ion-content>
    <ion-list>
      <ion-item collection-repeat="category in data.categories" ng-click="categoryModal(category)" class="item item-icon-left item-button-right">
      	<i class="icon ion-android-checkbox-blank" style="color: {{ category.color }}"></i>
      	{{ category.name }}
    	<button class="button button-small button-outline button-positive">
      		<i class="icon ion-android-create"></i>
	    </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
