<ion-view view-title="Dashboard">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item ng-repeat="category in data.categories" ui-sref="app.categories({ idCategory: $index })" repeat-last>
        <div class="row">
          <div class="col" ng-bind="category.name"></div>
          <div class="col text-right">{{ category.total/100 | number:2 }} €</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="value-bar" style="width: {{ data.hasFinished ? category.total / data.total * 100 : 0 }}%; background-color: {{ category.color }}">
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
