<ion-view view-title="" hide-nav-bar="true" class="login-view">
  <ion-content>
    <div class="row">
      <div class="col text-center">
        <h1 class="padding">Paka</h1>
        <figure class="padding">
          <img src="images/paka_red.png" alt="Paka">
        </figure>
        <p>
          Expense manager application
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-block button-assertive" ui-sref="app.login">
          Log In
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <a class="button button-block button-assertive" ui-sref="app.register">
        Register
      </a>      
      </div>
    </div>
    
  </ion-content>
</ion-view>

